/* Elements */



header video {
  background: url('//cdn.shutterstock.com/shutterstock/videos/1109542/preview/stock-footage-yoga-asana-in-sequence-warrior-warrior-pose-warrior-pose-warrior-and-variation-revolved-war.mp4') no-repeat;
  background-size: cover;
  filter: blur(.75rem) grayscale(1);
  height: auto;
  min-height: 100%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  transition: 1s opacity;
  width: auto;
  min-width: 100%;
  z-index: -100;
}

section {
  background-color: white;
}

footer {
  background-color: lightpink;
}

aside {
  background-color: white;
}

/* Header */

.pane-opaque {
  background-color: rgba(255, 255, 255, .5);
}

.pane-padded {
  padding: 1rem 0 2rem;
}

/* Gallery */
.featherlight .featherlight-close-icon {
  outline: none !important;
}
