/* Elements */

body {
  background-attachment: fixed;
  background-image: url('../graphics/hero_bamboo.jpg');
  background-size: cover;
}

section {
  background-color: white;
}

footer {
  background-color: lightpink;
}

aside {
  background-color: white;
}

/* Header */
body > header div div {
  height: 50vh;
  margin-top: 50vh;
}

body > header .pane-opaque {
  background-color: rgba(255, 255, 255, .75);
}

body > header .pane-padded {
  padding: 1rem 0 2rem;
}

header h1 {
  color: deeppink;
}

/* Gallery */
.featherlight .featherlight-close-icon:focus {
  outline: none !important;
}
