/* Elements */

body {
  background-attachment: fixed;
  background-image: url('../graphics/hero_bamboo.jpg');
  background-size: cover;
}

section {
  background-color: white;
}

footer {
  background-color: lightpink;
}

aside {
  background-color: white;
}

/* Header */
body > header div div {
  height: 50vh;
  margin-top: 50vh;
}

body > header .pane-opaque {
  background-color: rgba(255, 255, 255, .75);
}

body > header .pane-padded {
  padding: 1rem 0 2rem;
}

header h1 {
  color: palevioletred;
}

header h1 span {
  display: block;
  font-family: Muli, sans-serif;
  font-size: 7.5vw;
  font-weight: 300;
}

header h1 b {
  font-family: "Dancing Script", sans-serif;
  font-size: 10vw;
  font-weight: 700;
}

header nav {
  position: absolute;
  width: 100%;
  bottom: 1rem;
}

/* Callout */
#callout {
  background: url(../graphics/callout.png) no-repeat center center scroll;
}

/* Gallery */
.featherlight .featherlight-close-icon:focus {
  outline: none !important;
}
